/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* * {
    box-sizing: border-box;
} */
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

h2 {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-size: 64px;
    line-height: 145%;
    color: #888888;
    font-weight: 700;
}

.logo {
    /* color: #076BB2; */
    font-size: 32px;
    font-weight: 900;
    text-decoration: none;
}

.btn {
    /* color: #ffffff;
    background: #076BB2; */
    border: none;
    padding: 10px 80px;
    border-radius: 6px;
}